.login {
  margin-top: 70px;
  border: 1px solid rgb(209, 198, 198);
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  box-shadow: 5px 10px 15px rgb(211, 201, 201);
  border-radius: 10px;
  text-align: center;
}

.login__formGroup {
  margin-bottom: 30px;
}

.login__submitButton {
  margin-bottom: 20px;
}
